.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    height: 80px;
    font-family: "SF Pro Text", sans-serif;
}

.nav-links {
    display: flex;
    gap: 12rem;
    font-weight: 600;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo {
    color: white;
    font-weight: bold;
}